<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.actionaidactivista">

    <uses-feature
        android:name="android.hardware.Camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher_a"
        android:label="@string/app_name"
        android:roundIcon="@drawable/launcher_a"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".EditProvDisActivity"></activity>
        <activity android:name=".ReportedCommentsActivity" />
        <activity android:name=".ReportCommentActivity" />
        <activity android:name=".UpdateDOBBiographyActivity" />
        <activity android:name=".PreviewOnlineDocActivity" />
        <activity android:name=".FeedCommentsActivity" />
        <activity android:name=".ViewAttachmentsActivity" />
        <activity android:name=".CheckAccountActivity" />
        <activity android:name=".PreviewDocActivity" />
        <activity android:name=".ViewApplicationsActivity" />
        <activity android:name=".OpportunityApplicationsActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".FeedsMonitoringActivity" />
        <activity android:name=".GeoLocationActivity" />
        <activity android:name=".UserAccountsActivity" />
        <activity android:name=".loginandsignup.UserLoginAndSignUpActivity" />
        <activity android:name=".loginandsignup.AdminLoginActivity" />
        <activity android:name=".UploadLibraryMaterialActivity" />
        <activity android:name=".ApplyOpportunityActivity" />
        <activity android:name=".SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".navigation.MainBottomNavActivity" />
        </activity>
        <activity
            android:name=".navigation.MainNavDrawerActivity"
            android:label="@string/title_activity_main_nav_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".navigation.MainBottomNavActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".RegistrationActivity"/>
        <activity android:name=".ContentModerationFragment"/>
        <activity android:name=".LibraryFragment"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

        <activity android:name=".MainActivity" />
    </application>

</manifest>